body{
    font-family: sans-serif;
    height: 1500px;
}
#login{
    font-size: 15px;
    display: flex;
    width: 93%;
    color: #6d6b6b;
    flex-direction: row-reverse;
}
#login i{
    padding: 5px;
    margin-left: 30px;
}

#navbar{
    width: 86%;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    gap: auto;
    justify-content: space-between;
    align-items: center;
}

#navbar>div{
    align-items: center;
}
img{
    width: 70%;
}
.logo{
    width: 45%;
}
#navbar input{
    width: 65%;
    padding: 6px 2px;
}
#middle{
    display: flex;
}
#middle i{
    padding: 5px;
    font-size: 20px;
    color: white;
    background-color: #84c225 ;
}
#right{
    height:80%;
    background-color:#f2f2f2 ;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#right:hover {
    border: 1px solid rgb(219, 219, 219);

}
#right i{
    font-size: 30px;
    float: right;
    color: red;
}

.sticky{
    position: sticky;
    width: 100%;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
}
#navbar+div{
    display: flex;
    width: 86%;
    margin: auto;
    border: 1px solid;
}
#shopByCategory{
    border-top: 1px solid grey;
    flex: 2;

}
#flag{
    flex-direction: 8;
}

#shopByCategory>p{
    background-color: #84c225;
    width: 20%;
    padding: 8px;
    color: white;
    font-weight: 600;
    margin-top: 0px;
}
/* User icon onclick css */
#myAccount{
    display: flex;
    flex-direction:row-reverse;
    background-color: #fff;
    display: none;
    height: auto;
    width: 150px;
    border: 1px solid rgb(185, 182, 182);
    position: absolute;
    right: 100px;
    top: 32px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#myAccount ul{
    list-style: none;
    padding: 0px;
}
#myAccount li{
    border-bottom:1px dashed #6d6b6b;
    padding: 5px;
    font-size: 15px;
}
#myAccount li:hover{
    background-color: #e4e0e0;
}