#container_1{
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

#container_1 img{
    width: 100%;
}

#container{
    width: 90%;
    margin: auto;
}

#Middle_section{
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    margin-top: 30px;
}

#left_categories{
    width: 21%;
    border-right: 1px solid #c9c9c9;
    display: block;
    /* position: sticky; */
}

.Sorting_catagories>p{
    margin-top: -8px;
    margin-left: 10px;
    font-size: 14px;
    color: #666666;
}

#catagories_heading{
    font-size:16px;
    margin-top: 10px;
    color: black;
}

.Sorting_catagories>hr{
    width: 85%;
    margin-top: -8px;
    margin-bottom: 20px;
    color: #e7e1e1;
}

.Sorting_catagories>p:hover,#catagories_heading:hover{
    cursor: pointer;
    color: rgb(8, 189, 189);
}

#appent_categories{
    width: 79%;
    padding-left: 20px;
    /* border: 1px solid green; */
}

#appent_categories_head{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

#appent_categories_head>p{
    color: #3f3e3e;
    font-size: 25px;
    margin-top: 0px;
}

#appent_categories_head select{
    width: 220px;
    height: 25px;
    background-color: white;
    border:1px solid green;
    color: #666666;
}

#content_1 div{
    width: 90%;
    margin: auto;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    padding-bottom: 10px;
    margin-top: -10px;
    /* margin-left: 50px; */
}

#content_1{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    /* border: 1px solid red; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#content_1_heading{
    margin-left: 20px;
    color: #3f3e3e;
    font-size: 18px;
    padding-top: 20px;
}

#content_1 div>p{
    width: 80%;
    height: 20px;
    font-size: 14px;
    border-right:1px solid #666666 ;
    margin-left: 20px;
    color: #666666;
}

#content_1 div>p:hover{
    cursor: pointer;
    color: rgb(8, 189, 189);
}

#content_2{
    width: 90%;
    margin: auto;
    margin-top: -20px;
    border-radius: 5px;
    /* border: 1px solid red; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.content_2_heading{
    margin-left: 20px;
    color: #757373;
    font-size: 18px;
    padding-top: 20px;
}

.content_2_sub{
    width: 95%;
    font-size: 16px;
    margin-left: 40px;
    color: #8f8e8e;
}

#content_2_heading1{
    margin-left: 20px;
    color: #757373;
    font-size: 28px;
    padding-top: 20px;
}

#All_products{
    display: flex;
}

#All_products img{
    height: 23px;
    width: 20px;
    margin-top: 15px;
    padding-right: 10px;

}

#Append_data{
    /* border: 1px solid red; */
    padding: 20px 20px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}

.Append_div{
    /* border: 1px solid blue; */
    padding: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Append_div:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Append_div>img:nth-child(1){
    width: 100%;
}

.Append_div>p:nth-child(3){
    font-size: 10px;
    color: #757373;
}

.Append_div>p:nth-child(4){
    font-size: 14px;
}

.Append_div>p:nth-child(5){
    font-size: 12px;
}
.Append_div>p:nth-child(5)>span{
    font-size: 15px;
}

.Veg_icon{
    /* width: 10px; */
    width: 30px;
    display: block;
}

#add_button{
    background-color: #ecea49;
    border-radius: 5px;
    padding: 5px 40px;
    text-align: center;
    margin: auto;
    margin-left: 25%;
    border: none;
}

#add_button:hover{
    cursor: pointer;
    background-color: #afad15;
    color: black;
}

/* small screen */
@media all and (min-width:0px) and (max-width:550px){
    #Append_data{
        grid-template-columns: repeat(1,1fr);
    }

    #left_categories{
        display:none;
    }

    #appent_categories_head{
        display: block;
    }

    #content_2{
        display: none;
    }
    
    #content_1 div{
        display: block;
        border-right:none ;
    }

}


/* medium screen  */
@media all and (min-width:551px) and (max-width:850px){
    #Append_data{
        grid-template-columns: repeat(2,1fr);
    }

    #appent_categories_head+p{
        font-size: 10px;
    }

    #content_2{
        display: none;
    }
    
    #content_1 div{
        display: block;
        border-right:none ;
    }
}