*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: ProximaNovaA-Regular;
}

#search{
    display: flex;
    align-items: center;
}
#slideshow{
    height: 350px;
    width: 100%;
}
#slideshow img{
    width: 100%;
    height:100%
}
#multiple-div{
    width: 87%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(auto,auto);
    gap: 20px;
    gap: 30px;
    cursor: pointer;

}
#multiple-div  div{
 
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-family: ProximaNovaA-Regular;
   
    
}
#multiple-div  div h3{
    cursor: pointer;
}
#ayurveda{
    background-color: #4c6020;
    color: #fff;
}
#bank-offer{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
#bank-offer h1{
    text-align: center;
}
#bank-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto,300px);
    gap: 30px;
    margin-top: 20px;
}
#bank-container div{
    /* width: 22%; */
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#bank-container img{
    width: 100%;
    height: 100%;
}
#top-offer{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
#top-offer h1{
    text-align: center;
}
#topoffer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto,300px);
    gap: 30px;
    margin-top: 20px
}
#topoffer-container div{
  
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#topoffer-container img{
    width: 100%;
    height: 100%;
}
#bank-container div:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
    
}
#topoffer-container div:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
#fruits{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
#fruits h1{
    text-align: center;
}
#fruits-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(auto,300px);
    margin-top: 20px
}
#fruits-container div{
    /* width: 18%; */
    margin: auto;
}
#fruits-container img{
    width: 100%;
    height: 80%;
}
#fruits-container div:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
#staple{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
#staple h1{
    text-align: center;
}
#staple-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(auto,300px);
    margin-top: 20px
}
#staple-container div{
    
    margin: auto;
}
#staple-container img{
    width: 100%;
    height: 80%;
}
#staple-container div:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
#beverage{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    
}
#beverage h1{
    text-align: center;
}
#beverage-container{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
#beverage-container-left{
  width: 50%;
  
}
#beverage-container-left img{
width: 100%;
height: 100%;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#beverage-container-right{
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(auto,200px);
    gap: 10px;
}
#beverage-container-right div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#snacks{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
#snacks h1{
    text-align: center;
}
#snacks-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-columns: repeat(auto,200px);
    gap: 20px;
    margin-top: 20px;
}
#snacks-container div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#snacks-container div:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
#snacks-container img{
    width: 100%;
    height: 100%;
}
#cleaning{
    width: 90%;
    margin: auto;
    margin-top: 30px;
}
#cleaning h1{
    text-align: center;
}
#cleaning-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto,300px);
    gap: 20px;
    margin-top: 20px;
}
#cleaning-container div{
    /* width: 23%; */
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#cleaning-container div:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
#cleaning-container img{
    width: 100%;
    height: 100%;
}
#beauty{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    
}
#beauty h1{
    text-align: center;
}
#beauty-container{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
#beauty-container-left{
  width: 50%;
  
}
#beauty-container-left img{
width: 100%;
height: 100%;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#beauty-container-right{
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(auto,200px);
    gap: 10px;
}
#beauty-container-right div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#home{
    width: 90%;
    margin: auto;
    margin-top: 30px;
}
#home h1{
    text-align: center;
}
#home-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-columns: repeat(auto,200px);
    gap: 20px;
    margin-top: 20px;
}
#home-container div{
   
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#home-container div:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
#home-container img{
    width: 100%;
    height: 100%;
}
#brand{
    width: 90%;
    margin: auto;
    margin-top: 30px;
}
#brand h1{
    text-align: center;
}
#brand-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-columns: repeat(auto,200px);
    gap: 20px;
    margin-top: 20px;
}
#brand-container div{
   
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#brand-container div:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
#brand-container img{
    width: 100%;
    height: 100%;
}
#featured{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#featured img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#footer-up{
    width: 90%;
    margin: auto;
    border: 1px solid;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}
#footer-up p{
    margin-top: 20px;

}
#footer-up button{
    margin-top: 20px;
}
li{
    margin-top: 10px;
}
#footer-up span{
    color: #67c743;
}
.grey{
    color: grey;
}
.owl-carousel{
    margin-top: 30px;
}
.owl-carousel img{
    height: 400px;
}
#smartbakset{
    width: 90%;
    margin: auto;
}
#smartbasket{
   
    width: 90%;
    margin: auto;
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#owl-div{
    padding-top: 20px;
}

.item{
    /* border: 1px solid grey; */
   
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

   padding: 10px;
}
.item p{
    margin-top: 10px;
}
#smart-basket-header{
    text-align: center;
    margin-top: 10px;
}
.item button{
    margin-top: 20px;
    padding: 10px 50px 10px 50px;
    margin-left: 10px;
    background-color: #f7d678;
    border: none;
    border-radius: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#veglogo{
    width: 30px;
    height: 30px;
}
#item-image{
    width:140px; 
    height:140px
}
@media only screen and (min-width: 830px) and (max-width: 1100px) {
    /* *{
        padding: 0px;
        margin: 0px;
    } */
    #multiple-div{
        width: 100%;
        margin: auto;
        margin-top: 20px;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-template-rows: repeat(auto,200px);
     gap: 20px;
    
    }
    #multiple-div  div{
        margin-top: 10px;
    }
    #bank-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(auto,300px);
        gap: 30px;
        margin-top: 20px;
    }
    #topoffer-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(auto,300px);
        gap: 30px;
        margin-top: 20px
    }
    #fruits-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(auto,300px);
        margin-top: 20px
    }
    #staple-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(auto,300px);
        margin-top: 20px
    }
    #snacks-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-columns: repeat(auto,200px);
        gap: 20px;
        margin-top: 20px;
    }
    #cleaning-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(auto,300px);
        gap: 20px;
        margin-top: 20px;
    }
    #brand-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-columns: repeat(auto,200px);
        gap: 20px;
        margin-top: 20px;
    }
    #home-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-columns: repeat(auto,200px);
        gap: 20px;
        margin-top: 20px;
    }
    #beverage-container{
        display: block;
        gap: 20px;
        margin-top: 20px;
    }
    #beauty-container{
        display: block;
        gap: 20px;
        margin-top: 20px;
    }
    #beverage-container-right{
        
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(auto,200px);
        gap: 30px;
        margin-top: 10px;
    }
    #beverage-container-right img{
        width: 330px;
        height: 330px;
    }
    #beauty-container-right img{
        width: 330px;
        height: 330px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 830px) {
    /* *{
        padding: 0px;
        margin: 0px;
    } */
    #multiple-div{
        width: 100%;
        margin: auto;
        margin-top: 20px;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-template-rows: repeat(auto,200px);
     gap: 20px;
    
    }
    #multiple-div  div{
        margin-top: 10px;
    }
    #bank-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(auto,300px);
        gap: 30px;
        margin-top: 20px;
    }
    #topoffer-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(auto,300px);
        gap: 30px;
        margin-top: 20px
    }
    #fruits-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(auto,300px);
        margin-top: 20px
    }
    #staple-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(auto,300px);
        margin-top: 20px
    }
    #snacks-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-columns: repeat(auto,200px);
        gap: 20px;
        margin-top: 20px;
    }
    #cleaning-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(auto,300px);
        gap: 20px;
        margin-top: 20px;
    }
    #brand-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-columns: repeat(auto,200px);
        gap: 20px;
        margin-top: 20px;
    }
    #home-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-columns: repeat(auto,200px);
        gap: 20px;
        margin-top: 20px;
    }
    #beverage-container{
        display: block;
        gap: 20px;
        margin-top: 20px;
    }
    #beauty-container{
        display: block;
        gap: 20px;
        margin-top: 20px;
    }
    #beverage-container-right{
        
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(auto,200px);
        gap: 30px;
        margin-top: 10px;
    }
    #beverage-container-right img{
        width: 330px;
        height: 330px;
    }
    #beauty-container-right img{
        width: 330px;
        height: 330px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
    /* *{
        padding: 0px;
        margin: 0px;
    } */
    #multiple-div{
        width: 90%;
        margin: auto;
        margin-top: 20px;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-template-rows: repeat(auto,200px);
     gap: 20px;
    }
    #bank-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(auto,300px);
        gap: 30px;
        margin-top: 20px;
    }
    #topoffer-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(auto,300px);
        gap: 30px;
        margin-top: 20px
    }
    #fruits-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(auto,300px);
        margin-top: 20px
    }
    #staple-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(auto,300px);
        margin-top: 20px
    }
    #snacks-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-columns: repeat(auto,200px);
        gap: 20px;
        margin-top: 20px;
    }
    #cleaning-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(auto,300px);
        gap: 20px;
        margin-top: 20px;
    }
    #brand-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-columns: repeat(auto,200px);
        gap: 20px;
        margin-top: 20px;
    }
    #home-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-columns: repeat(auto,200px);
        gap: 20px;
        margin-top: 20px;
    }
    #beverage-container{
        display: block;
        gap: 20px;
        margin-top: 20px;
    }
    #beauty-container{
        display: block;
        gap: 20px;
        margin-top: 20px;
    }
    #beverage-container-right img{
        width: 200px;
        height: 200px;
        /* display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(auto,200px);
        gap: 10px; */
    }
    #beauty-container-right img{
        width: 200px;
        height: 200px;
    }

}
